:root {
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --main-color: #339b67;
  --secondry-color: #ffcb74;
  --third-color: #2f2f2f;
}

.myjourney {
  width: 100%;
  background-color: var(--clr-black);
  margin-top: 1rem;
}

.myjourney h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--main-color);
}

.containert {
  width: 80%;
  margin: auto;
}

.coloraboutme h1 {
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: 1;
}

.journeyhaye {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20rem;
}

.journeyhaye h4 {
  font-size: 2rem;
  border-bottom: 3px solid #717e34;
  width: 10%;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-top: 0;
  color: var(--main-color);
}

.journey-title {
  text-align: center;
}

.gadalcols p {
  color: white;
  line-height: 1.4;
  font-size: 12px;
  margin-bottom: 0.4rem;
}

.resume {
  font-size: 1.8rem;
  color: var(--main-color);
  text-decoration: none;
  margin-top: 1.5rem;
}

.resume:hover {
  text-decoration: underline;
  border: 1px solid;
  padding: 5px;
}

.gadalcols p {
  font-size: 1.2rem;
  line-height: 1.1;
}


.wido img{
  width: 80%;
  border-radius: 1rem;
}


@media (max-width: 1200px) {
  .myjourney{
    width: 100%;
    background-color: none;
  }

  .journeyhaye {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-top: 2rem;
  }
  .gadalcols {
    width: 90%;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }
  .textbox {
    height: 95vh;
  }
  .gadalimg {
    width: 55%;
    height: 115%;
  }
  .export-title h2 {
    color: white;
    margin-bottom: 1rem;
    text-align: center;
  }
  .dogrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    align-content: center;
  }
}

@media (max-width: 450px) and (max-width: 600px) {
  .myjourney{
    width: 100%;;
    background-color: none;
  }
 
  .myjourney h1{
    font-size: 3rem;
    text-align: center;
    color: var(--main-color);
  }
  .gadalcols {
    width: 150%;
    margin-left: 3.2rem;
    font-size: 1.2rem;
  }
  .gadalcols p{
    font-size: 2rem;
  }
  .journeyhaye {
    width: 110%;
    max-width: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-top: 5rem;
    gap: 4rem;
    font-size: 1.8rem;
  }
  .wido{
    margin-left: 7.1rem;
    width: 115%;
    margin-bottom: 1rem;
  }

  .myjourney h1 {
    font-size: 5rem;
    text-align: center;
    margin-left: 10rem;
    white-space: nowrap;
    margin-bottom: 0;
    color: var(--main-color);
  }
}

/*hoos testi*/

.testimonial {
  color: white;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.item {
  min-height: 30rem;
  min-width: 33%;
  padding: 40px;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  pointer-events: none;
}

.inercar {
  display: flex;
  object-fit: contain;
  background: #5c8f67;
  border-radius: 2rem;
}

.car {
  cursor: grab;
  overflow: hidden;
  background: #a9c431;
}
