:root {
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --main-color: #339b67;
  --secondry-color: #ffcb74;
  --third-color: #2f2f2f;
}

.contactpor {
  width: 80%;
  color: white;
  margin: auto;
  padding-top: 2rem;
}

.contacts {
  display: flex;
  justify-content: center;
  width: 70%;
  flex-wrap: wrap;
  margin: auto;
}

.contactcol {
  display: flex;
  margin: auto;
  padding: 20px;
  gap: 2rem;
  background-color: var(--clr-black);
  color:white;
  border-radius: 12px;
}

.contactcol input {
  margin-bottom: 0.3rem;
  border: none;
  padding: 4px;
  border-radius: 6px;
}

.contactcol ::placeholder {
  text-transform: capitalize;
}

.contactcol label {
  font-weight: bold;
  text-transform: capitalize;
}

.gadi {
  display: flex;
}

form {
  position: relative;
}

.gadi .label1 {
  display: flex;
  justify-content: space-between;
  width: auto;
  position: absolute;
  top: -7%;
}

.gadi input {
  margin-right: 1rem;
  width: 100%;
}
.gadi .label2 {
  display: flex;
  justify-content: space-between;
  width: auto;
  position: absolute;
  top: -7%;
  left: 50%;
}

.gaditwo input {
  width: 100%;
}

.gridtwo h3 {
  margin-bottom: 1rem;
}

.contact-col input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  margin-bottom: 0.3rem;
  margin-top: 0.4rem;
  border-radius: 12px;
}

.contact-col h1 {
  margin-bottom: 0.4rem;
}

.contact-about h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: mediumturquoise;
  color: var(--main-color);
}

.photo img {
  width: 30%;
}

.personal-con {
  margin-top: 2rem;
}

.gridtwo img {
  box-shadow: 0 0 20px 0px rgba(211, 211, 211, 0.932);
}

.gridtwo h3 {
  text-align: center;
}

.email {
  margin-top: 0.4rem;
  border-radius: 12px;
  margin-bottom: 0.3rem;
  background-color: #222;
  padding: 12px;
  color: white;
  font-size: 1.3rem;
}

.phone {
  border-radius: 12px;
  background-color: #222;
  padding: 12px;
  color: white;
  font-size: 1.3rem;
}

.icons {
  margin-top: 1rem;
  color: var(--secondry-color);
}

.formbtn {
  background-color: #1b1919;
  border: none;
  border-radius: 12px;
  padding: 10px 14px;
  cursor: pointer;
  color: var(--main-color);
}

textarea {
  display: block;
  margin-bottom: 0.4rem;
  color: black;
}

.icons {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.icons a {
  margin: 1rem;
}

@media (max-width: 1280px) {
  .contacts {
    width: 50%;
    margin: auto;
  }
  .gridtwo img {
    margin-top: 1rem;
    display: block;
  }
}

@media (max-width: 900px) {
  .contact-about {
    margin-top: 1rem;
  }
  .contacts {
    grid-template-columns: repeat(1, 1fr);
  }
  .gridtwo {
    margin: 1rem auto;
  }
  .personal-con {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
  }
}


@media (max-width: 450px) and (max-width: 600px) {
 
.contactpor {
  width: 155%;
}
.contacts {
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
}
}