/*baluugi iskudayga kor*/
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --clr-black: #222;
  --main-color: #339b67;
  --secondary-color: #F7931E;
  --third-color: #2f2f2f;
}

canvas {
  z-index: -1;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
}

.imgscontent img{
  color: var(--secondry-color);
  background-color: var(--secondry-color);
  border-radius: 0.30rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.projects {
  color: white;
}

.projectTitle {
  font-size: 3rem;
  color: var(--main-color);
}

.projectspan {
  color: #F6921E;
  font-size: 2.5rem;
}

.projectCont {
  width: 90%;
  margin: auto;
}

.projectGrid {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "main four four"
    "main one two";
  gap: 1rem;
}

.gridp {
  margin-top: 2rem;
}

.gridp img {
  width: 100%;
}

.Four {
  width: 90%;
}

.One {
  grid-area: one;
  width: 100%;
  height: 110%;
}

.One h3,
.Two h3,
.Three h3,
.Four h3 {
  color: var(--main-color);
  margin-bottom: 0.3rem;
  font-weight: 700;
  font-size: 2.5rem;
}

.One p,
.Two p,
.Three p,
.Four p {
  line-height: 1.5;
}

.githupProject {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.githupProject span {
  position: absolute;
  right: 0.2em;
  bottom: 0.3rem;
}

.Two {
  grid-area: two;
}

.Three {
  grid-area: main;
  column-gap: 1rem;
}

.Four {
  grid-area: four;
}

.icongit{
  font-size: 2rem;
}

.projectwork {
  margin-bottom: 25rem;
}

@media (max-width: 900px) {
  .projectGrid {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .one {
    height: 200%;
  }
  .two {
    height: 150%;
  }
  .three {
    height: 150%;
  }
  .four {
    height: 250%;
  }
  .icongit {
    position: absolute;
    top: -15rem;
    right: 1%;
  }
  .githupProject h3 {
    font-size: 2rem;
  }
}

@media (max-width: 450px) and (max-width: 600px) {
  .projectGrid {
    width: 170%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .one {
    height: 200%;
  }
  .two {
    height: 150%;
  }
  .three {
    height: 150%;
  }
  .four {
    height: 250%;
  }
  .projectwork {
    margin-bottom: 20rem;
  }
}

/* services */

.servicesHaye {
  width: 95%;
  margin: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.5rem;
  color: var(--main-color);
}

.servicesHaye h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 2.2rem;
  color: var(--main-color);
}

.service {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.4rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.serviceCol {
  color: black;
  padding: 1.8rem;
  border-radius: 1rem;
}

.serviceCol:hover {
  transition: 0.6s;
  background-color: #2b2a2aef;
  box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.1);
}

.serviceCol p {
  line-height: 1.2;
  font-weight: 500;
  color: white;
}

.serviceCol h3 {
  color: var(--main-color);
}

.serviceCol img {
  width: 10%;
}

@media (max-width: 900px) {
  .service {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.4rem;
  }
}

@media (max-width: 430px) and (max-width: 932px) {
  .servicesHaye {
    width: 190%;
    height: auto;
    display: grid;
    color: var(--main-color);
  }
  .service {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
  }
  .serviceCol img {
    width: 100%;
    height: auto;
  }
  .serviceCol p {
    font-size: 2rem;
  }
  .serviceCol h3 {
    font-size: 2rem;
  }
  .gredient {
    background-size: cover;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  .service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
  }
}

/* testimonial */

.testiTitle {
  color: var(--main-color);
  text-align: center;
  font-size: 3rem;
}

.que{
  width: 5%;
}

.picture {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
}

.picture-container {
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
}

.content-container p {
  font-size: 1rem;
}

.picture-container img {
  width: 10%;
  cursor: pointer;
  margin-right: 10px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  border-radius: 1rem;
}

.picture-container img.selected {
  border: 4px solid var(--main-color);
  z-index: 9999;
  width: 25%;
  height: 55vh;
}

.content-container {
  position: absolute;
  left: 54%;
  margin-top: 20px;
}

.imgscontent h1 {
  color: var(--main-color);
  font-size: 3rem;
  margin-bottom: 1.3rem;
}

.imgscontent p{
  color: white;
  padding: 2rem;
}

.imgscontent span {
  color: var(--secondry-color);
  margin-bottom: 1rem;
}
/*  */

.aboutfooter {
  margin-bottom: 5rem;
}

@media (max-width: 430px) and (max-width: 932px) {
  .picture-container {
    position: relative;
  }
  .testiTitle {
    font-size: 5rem;
    display: flex;
    text-align: center;
    margin-left: 7rem;
  }
  .picture {
    position: relative;
    margin-bottom: 35rem;
    display: flex;
  
  }
  .imgscontent{
    width: 300%;
    margin-top: 190%;
    color: black;
    z-index: 999999;
  }
  
  .imgscontent h1 {
    white-space: nowrap;
  }
  .imgscontent p {
    font-size: 2.5rem;
  }
  .picture-container img {
    width: 70%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
  }
  .picture-container img.selected {
    border-color: blue;
    z-index: 2;
    width: 50%;
    height: 33vh;
  }
  /* kan sadaxad */

  .imgscontent p {
    font-size: 1.3rem;
  }
}

/* footer */

hr {
  margin-top: 5rem;
}

.portfolio-footer {
  position: static;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: white;
}

.pro-container {
  width: 90%;
  margin: auto;
}

.footer-p {
  display: grid;
  align-content: center;
  place-items: center;
}

.por-two-foter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.por-two-col {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.por-two-col h2 {
  text-transform: capitalize;
  color: white;
}

.por-icons a {
  color: var(--main-color);
  font-size: 1.4rem;
  margin: 0.4rem 0.3rem;
  transition: all 0.6s ease;
}

.por-icons i {
  margin: 4px;
}

.por-col h1 {
  text-transform: capitalize;
}

@media (max-width: 450px) and (max-width: 600px) {
  .portfolio-footer {
    position: static;
    bottom: 0;
    width: 170%;
    padding: 20px;
    color: white;
  }
  .pro-container {
    width: 100%;
    margin: auto;
  }
  hr {
    width: 170%;
  }
}
